<style>
    .guide-page {
        width: 50px; /* Adjust size */
        height: auto; /* Maintain aspect ratio */
        display: inline-block; /* Ensures it appears on its own line */
        margin: 20px auto; /* Centers the badge */
    }
</style>
<p> 
    <a href="/images/WelcomeView_Page1.png" target="_blank">
            <img src="/images/WelcomeView_Page1.png" alt="Guide Page 1" class="guide-page">
    </a>
    <a href="/images/WelcomeView_Page2.png" target="_blank">
            <img src="/images/WelcomeView_Page2.png" alt="Guide Page 2" class="guide-page">
    </a>
    <a href="/images/WelcomeView_Page3.png" target="_blank">
            <img src="/images/WelcomeView_Page3.png" alt="Guide Page 3" class="guide-page">
    </a>
    <a href="/images/WelcomeView_Page4.png" target="_blank">
            <img src="/images/WelcomeView_Page4.png" alt="Guide Page 4" class="guide-page">
    </a>
    <a href="/images/WelcomeView_Page5.png" target="_blank">
            <img src="/images/WelcomeView_Page5.png" alt="Guide Page 5" class="guide-page">
    </a>
    <a href="/images/WelcomeView_Page6.png" target="_blank">
            <img src="/images/WelcomeView_Page6.png" alt="Guide Page 6" class="guide-page">
    </a>
    <a href="/images/WelcomeView_Page7.png" target="_blank">
            <img src="/images/WelcomeView_Page7.png" alt="Guide Page 7" class="guide-page">
    </a>

</p>